@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root{
  --graphite: #1c1c1c;
  --bluedad: #dadcff;
  --invbluedad: #252300;
  --complbluedad: #f3f3e6;

}
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
  background-color: var(--bluedad);
}

.titolo-pagina{
  background-color: var(--bluedad);
  margin: auto;
  padding: 10px;
  text-align:center;
  color: var(--graphite);
  font-size: 50px;
  display: flex;
  justify-content: center;

}
.top-navigation{

  width:100%;
  display: flex;
  margin: auto;
  padding: 1%;
  background-color: #f3f3e6;

}
.left-menu{
  border:none;
  background-color: var(--complbluedad);
  

}
.left-menu button{
  border:none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 0.1%;
  align-content: left;
  font-size:110%;
  transition: all 0.2s ease;

}
.my-icon{
  border: none;
  color: var(--invbluedad);
  background-color: transparent;
  padding: none;
}
.left-menu button:hover{

  transform: scale(1.1);

}
.left-menu ul{
  text-align: center;
  display:flex;
  flex-direction: column;
  position:absolute;
  left:0;
  list-style-type: none;
  margin:auto;
  padding-left:1%;
  padding-top:0.8%;
  background-color: var(--complbluedad);
  overflow: hidden;
  white-space: nowrap;
  width:0;
  opacity:0;
  transition: width 0.3s ease;
}
.left-menu ul.show{

  opacity:1;
}
.left-menu li{
  text-align: center;
  width:fit-content;
  white-space: nowrap;
  padding: 1%;
  transition: all 0.2s ease;
}
.left-menu li:hover{

  transform: scale(1.1);

}
